/* --- Google Fonts --- */
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:400,700");

/* --- Components design --- */
@import url("components/flexbox.css");
@import url("components/container.css");




/* TODO: import new components */

/* --- Fonts & colors --- */
body {
  font-family: "Open Sans", "Helvetica", "sans-serif";
  padding-bottom: 200px;
  margin: 0;
  background-color: rgb(240,240,240);
}
h1, h2, h3 {
  font-family: "Poppins", "Helvetica", "sans-serif";
}

.text-center {
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

a {
  text-decoration: none;
}
