.btn-blue {
  border: 1px solid #3B48DF;
  padding: 8px 40px;
  color: #3B48DF;
  border-radius: 6px;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #3B48DF;
  color: white;
}

.btn-red {
  background-color: #E60124;
  color: white;
  padding: 16px 32px;
  border-radius: 50px;
  display: inline-block;
}

.btn-red:hover {
  background-color: #ad031c;
}
